.*
.*/*
*.lock
node_modules
public
**/.htaccess
.htaccess*
**/node_modules
**/package-lock.json
**/public
**/yarn.lock
.DS_Store
.git
.gitignore
.idea
.vscode
.yarn-integrity
.yarnrc
.yarnrc.yml
yarn-error.log
yarn.lock
.env
.env.local
.env.development
**/build/
coverage
**/.nuxt
**/.jarvis
**/dist/
./index.mjs
